.calculator-container {
    width: 300px;
    background-color: aqua;
    padding: 10px;
    margin: 100px auto;
}
.key-column {
    margin-bottom: 10px;
}
.key-column button {
    width: 46px;
    padding: 0px;
}
.display {
    text-align: right;
}